.chef {
  position: absolute;
  height: calc(100% - 90px);
  transition: ease-out 0.25s;
  transform-origin: bottom right;

  .chef-name {
    position: absolute;
    bottom: 0;
    padding-bottom: 80%;
    transition: ease-out 0.25s;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  transform-origin: center bottom;

  &.active {
    transform: scale(1.1);
    z-index: 2;

    .chef-name {
      opacity: 0;
    }
  }

  &.hidden {
    transform: scale(0.8);
    opacity: 0.8;

    .chef-name {
      opacity: 0;
    }
  }

  &.left-centring {
    left: 10%;

    .chef-name {
      opacity: 0;
    }
  }

  &.hide-full {
    opacity: 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: contain;
    object-position: center bottom;
  }
}

.chef-1 {
  bottom: 0px;
  z-index: 2;

  left: 40%;
  width: 35%;

  .chef-name {
    text-align: right;
  }
}

.chef-2 {
  bottom: 0px;
  left: 60%;
  width: 35%;

  .chef-name {
    right: 5%;
  }
}



.hover-element {
  @include positionElement(25%, 80%, 45%, 15%, left, top, 3, grid);

  grid-template-rows: repeat(6, 1fr);

  &:hover .chef-btns {
    opacity: 1;
    visibility: visible;
  }
}

.hover-element-2 {
  left: 65%;
}

.chef-btns {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
  grid-row: 5/span 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: ease-out 0.25s;
  opacity: 0;
  visibility: hidden;
}

.chef-description {

  transition: ease-out 0.25s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  h2 {
    margin: 0 0 30px;
  }

  .video_list-container {
    padding-top: 29%;

    .list-item h4 {
      color: inherit;
    }
  }
}

.rating {
  position: relative;
  font-family: "semibold";
  margin: 60px 0 0;
  padding: 0 10px;
  display: inline-block;

  &:before,
  &:after {
    content: " ";
    @include positionElement(1px, 100%);
    background: $whiteColor;
  }

  &.color:before,
  &.color:after {
    background: $mainColor;
  }

  &:before {
    left: 0;
  }

  &:after {
    left: auto;
    right: 0;
  }

  i {
    display: inline-block;
    width: 20px;
    height: 20px;
    @include bgImageEl(url("../images/ico-star.svg"));
    margin-left: 8px;
  }

  &.color i {
    @include bgImageEl(url("../images/ico-star-color.svg"));
  }

  span,
  i {
    vertical-align: middle;
  }
}