.main-page {
  height: 100vh;

  min-height: 650px;
  color: $whiteColor;
  overflow: hidden;
  position: relative;
}

.chef-bg {
  @include positionElement(100%, 100%);
  background: rgb(232, 202, 181);
  background: linear-gradient(180deg, rgba(232, 202, 181, 1) 0%, rgba(212, 175, 147, 1) 100%);
}

.chef-gradient {
  @include positionElement(100%, 260px, 0, 0, left, bottom, 3);
  background: rgb(213, 176, 148);
  background: linear-gradient(180deg, rgba(213, 176, 148, 0) 0%, rgba(213, 176, 148, 1) 100%);
}

.fron_description-container {
  @include positionElement(33%, 60%, 11%, 20%, left, top, 3);

}

.flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}