.slider {


  transition: ease-out 0.25s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }


  .item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: ease-out 0.5s;
    opacity: 0;
    visibility: hidden;


  }

  .owl-item.active .item {
    opacity: 1;
    visibility: visible;
  }

  .owl-item.active .item {
    opacity: 1;
    visibility: visible;
  }

  .pagination {
    margin: 30px 0;
  }

  .info-body {
    h2 {
      margin: 0 0 22px;

    }
  }
}

.large-num i {
  font-style: normal;
  font-family: "semibold";
  font-size: $largeSize;
}

.slider.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.slider .owl-carousel {
  height: 100%;
}

.owl-dots,
.pagination {

  @include positionElement(100%, 30px, 0%, 30%, left, bottom, 2, block);
  text-align: left;

  &.center {
    text-align: center;
  }

  span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid $whiteColor;
    margin-right: 11px;
    cursor: pointer;

    &:hover,
    &.active {
      background: $whiteColor;
    }
  }
}

.owl-dot {
  display: inline-block;

  &.active span {
    background: $whiteColor;
  }
}