/*-----fonts-----*/

@import "sourse/partials/_fonts.scss";

/*-----fonts-----*/

/*-----defaul-----*/

@import "sourse/partials/_default.scss";

/*-----defaul-----*/


/*-----btns-----*/

@import "sourse/partials/_btns.scss";

/*-----btns-----*/

/*-----forms-----*/

@import "sourse/partials/_form.scss";

/*-----forms-----*/


/*-----header-----*/

@import "sourse/partials/_header.scss";

/*-----header-----*/

/*-----footer-----*/

@import "sourse/partials/_footer.scss";

/*-----footer-----*/

/*--------------------main-page-----*/

@import "sourse/main-page/_main-page.scss";



/*-----slider-----*/

@import "sourse/main-page/_slider.scss";

/*-----slider-----*/

/*-----circle-element-----*/

@import "sourse/main-page/_circle-element.scss";

/*-----circle-element-----*/

/*-----chef-----*/

@import "sourse/main-page/_chef.scss";

/*-----chef-----*/

/*-----chef-popup-----*/

@import "sourse/main-page/_chef-popup.scss";

/*-----chef-popup-----*/

/*--------------------main-page-----*/

/*--------------------recipes-page-----*/

@import "sourse/_recipes.scss";

/*--------------------recipes-page-----*/

/*--------------------reviews-section-----*/

@import "sourse/_reviews.scss";

/*--------------------reviews-section-----*/

/*--------------------products-section-----*/

@import "sourse/_products.scss";

/*--------------------products-section-----*/

/*--------------------catalog-section-----*/

@import "sourse/_catalog.scss";

/*--------------------catalog-section-----*/

/*--------------------contacts-section-----*/

@import "sourse/_contacts.scss";

/*--------------------contacts-section-----*/