.answer-item
  img.answer-img(src="../images/rew-1.jpg")
  .answer-body
    h3 Оксана Карпенко
    .answer-data  ответила 16.12.19
    .answer-description 
      a(href="#") Жанна,  
      |  полностью с вами согласна! Отличный рецепт. От себя добавлю, что можно готовить это блюдо с зелеными маринованныи помидорами и меньше жидкости,вкус другой и нежней.
    a.link-more(href="#") Ответить