.review-form
  h2 Оставьте свой отзыв
  .main-grid
    .review-item
      .review-item-grid
        img(src="../images/rew-1.jpg").review-img
        .review-item-body
          h3 Жанна Муравьева
          .review-description 
            input(type="text" placeholder="Ваш отзыв...")
          .btn-wc
              a.link-more(href="#") Опубликовать
        .data 15.12.19