.review-item
  .review-item-grid
    img(src="../images/rew-1.jpg").review-img
    .review-item-body
      h3 Жанна Муравьева
      .review-description Готовлю по рецепту уже не первый раз. Большое спасибо Василию за эту идею. Просто потрясающее блюдо! Очень вкусно. Вместо томатной пасты добавила не крупно нарезанный помидор, предварительно сварив его для очищения кожуры получилось вкусно.
      .btn-wc
        .cell
          a.link-more(href="#") Ответить
        .cell
          .review-count 20 ответов
      // answer item
      include answer-item.pug
      // answer item

      // answer item
      include answer-item.pug
      // answer item
    .data 15.12.19