.chef-description.chef-description-2.fron_description-container
  h2 
    |Григорий
    br
    |Мосин
  div 
    | Высококлассный шеф-повар является
    br
    | визитной карточкой заведения, в котором он 
    br
    |работает.
  .rating 
    span Рейтинг - 365
    i
.hover-element.hover-element-2(data-index="2")
  .chef-btns
    .circle-btn(href="#") 
      div
        span Смотреть битву
    .circle-btn(href="#")
      div
        span Обо мне
.chef.chef-2
  .chef-name 
    | Григорий Мосин
    br
    |шеф-повар
  img(src="../images/chef-2.png", alt="chef-1")