.chef-description.chef-description-1.fron_description-container
  h2 
    |Василий Емельяненко
    br
    |Мосин
  div 
    | Высококлассный шеф-повар является
    br
    | визитной карточкой заведения, в котором он 
    br
    |работает.
  .rating 
    span Рейтинг - 365
    i
  .video_list-container
    .list-item
      .img-box
        img(src="../images/food-1.jpg")
        i
      .description
        .data 10.12.19
        h4 
          |Мясные шарики в соевом соусе по 
          br
          |Пекински
        div 15:23
.hover-element.hover-element-1(data-index="1")
  .chef-btns
    .circle-btn(href="#") 
      div
        span Смотреть битву
    .circle-btn(href="#")
      div
        span Обо мне
.chef.chef-1
  .chef-name 
    | Василий Емельяненко
    br
    |шеф-повар
  img(src="../images/chef-1.png", alt="chef-1")
