.popup-wrap
.chef-popup.chef-popup-2
  .close-ico
  h2.chef-name Василий Емульяненко
  .rating.color
    span Рейтинг - 365
    i
  .video-container
    img(src="../images/chef-img-1.jpg", alt="")
    .play-container
      .play-ico
      span 12:28
  .item
    h3 Об участнике
    div Шеф-повар – это начальник кухни, у него в подчинении находится множество помощников и других поваров. Он осуществляет контроль за работой своих подчиненных, дегустирует приготовленные ими блюда перед тем, как они будут поданы клиентам.
    hr
  .item
    h3 Награды
    ul.units-list.ln.custom-disk
      li 1е - место и победитель в номиниции «Золотой Нож 2019» конкурса среди шеф-поваров г. Москва и МО 
      li 1е - место и победитель в номиниции «Золотой Нож 2018» конкурса среди шеф-поваров г. Москва и МО  
      li 1е - место и победитель в номиниции «Золотой Нож 2017» конкурса среди шеф-поваров г. Москва и МО 
    hr
  .item.video_list-container
    h3 Победитель в «Битве Рецептов»
    .list-item
      .img-box
        img(src="../images/food-1.jpg")
        i
      .description
        .data 10.12.19
        h4 
          |Мясные шарики в соевом соусе по 
          br
          |Пекински
        div 15:23
    .list-item
      .img-box
        img(src="../images/food-1.jpg")
        i
      .description
        .data 10.12.19
        h4 
          |Мясные шарики в соевом соусе по 
          br
          |Пекински
        div 15:23

