.circle-front
  .circle-element
    img(src="../images/pack-1.png", alt="pack")
.circle-content.fron_description-container.flex-column
  h2 
    |Шарики из отборного
    br
    |мяса «Шары Вары»
  div 
    |Вкусные шарики из отборного мяса для
    br
    |закусок, супов и вторых блюд
  div.links
    a.link(href="#")
      | ← Узнайте о всех вкусах
  .num-container
    .num-item
      i 7
      div Уникальных вкусов для любого гурмана
    .num-item
      i 15
      div Минут и вкусное блюдо готово