.slider.fron_description-container
  .owl.owl-carousel 
    .item.flex-column
      .info-body
        h2 
          | Невероятная битва величайших мастеров 1
        .description 
          | Только здесь вы сможеть увидеть как в
          br 
          | горячем противостоянии рождаются шедевры
          br 
          | кулинарии
      .info-footer
        .large-num 
          i 3000
          div
            |Посетителей в день смотрят
            br
            | рецепты на нашем сайте
    .item.flex-column
      .info-body
        h2 
          | Невероятная битва величайших мастеров 2  
        .description 
          | Только здесь вы сможеть увидеть как в
          br 
          | горячем противостоянии рождаются шедевры
          br 
          | кулинарии
      .info-footer
        .large-num 
          i 3000
          div
            |Посетителей в день смотрят
            br
            | рецепты на нашем сайте
    .item.flex-column
      .info-body
        h2 
          | Невероятная битва величайших мастеров 3 
        .description 
          | Только здесь вы сможеть увидеть как в
          br 
          | горячем противостоянии рождаются шедевры
          br 
          | кулинарии
      .info-footer
        .large-num 
          i 3000
          div
            |Посетителей в день смотрят
            br
            | рецепты на нашем сайте
    .item.flex-column
      .info-body
        h2 
          | Невероятная битва величайших мастеров 4
        .description 
          | Только здесь вы сможеть увидеть как в
          br 
          | горячем противостоянии рождаются шедевры
          br 
          | кулинарии
      .info-footer
        .large-num 
          i 3000
          div
            |Посетителей в день смотрят
            br
            | рецепты на нашем сайте 