doctype html
html
	body
		// head
		include partials/head.pug 
		// head

		// header
		include partials/header.pug
		// header
		
		// main-section
		.main-page
			.chef-bg 
			.chef-gradient
			
			include main-page/slider.pug

			// ---------- chef

			include main-page/chef-1.pug

			include main-page/chef-popup-1.pug

			include main-page/chef-2.pug

			include main-page/chef-popup-2.pug
			
			// ---------- chef

			// ---------- circle
			include main-page/circle-element.pug
			// ---------- circle

		// main-section
		
		// footer
		include partials/footer.pug
		// footer

