.reviews-section {
  padding-top: 90px;

  h2 {
    text-align: center;
    font-size: $mainTitleSize;
    padding: 0 0 90px;
  }

  .pagination {
    position: relative;
  }
}

.review-container {
  position: relative;
  padding: 1px 24px 0 24px;
  margin: 8px 0 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: $mainColor;
    top: 0;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  span {
    font-family: "semibold";
    display: inline-block;
    margin-right: 10px;
  }

  .review-ico {
    width: 23px;
    height: 23px;
    @include bgImageEl(url("../images/ico-review.svg"));
    margin-top: -1px;
  }


}

.review-item {
  grid-column: 3/ span 14;
  margin: 0 0 60px;

  .review-item-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }

  .review-item-body {
    background: $bgColorFirst;
    padding: 30px;
    border-radius: 20px;
    grid-column: 2/ span 12;
  }

  h3 {
    font-size: inherit;
    margin: 0 0 30px;
  }

  .link-more {

    &:before,
    &:after {
      background: $mainColor;
    }

    &:hover {

      &:before,
      &:after {
        background: $yellowColor;
      }
    }
  }



  .btn-wc {
    display: flex;
    margin: 30px 0 0;

    .cell {
      width: 50%;
    }

    .review-count {
      text-align: right;
      color: $secondColor;
    }
  }

  .review-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
  }

  .data {
    text-align: right;
  }
}

.answer-item {
  margin: 30px 0;

  .answer-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  .answer-body {
    background: $whiteColor;
    padding: 30px;
    border-radius: 30px;
    display: inline-block;
    width: calc(100% - 90px);
    margin-left: 24px;

    h3,
    .answer-data {
      display: inline-block;
    }

    .answer-data {
      color: $secondColor;
    }

  }

  .answer-description {
    margin: 0 0 30px;

    a {
      color: $yellowColor;
      text-decoration: none;
      font-family: "semibold";
    }
  }


}


.review-form {
  padding: 90px 0 0;

  .btn-wc {
    display: block;
    text-align: right;
  }


}