.section
  img.products-layer.layer-1.layer-group.layer-group-0(src="../images/layer-1.png")
  img.products-layer.layer-2.layer-group.layer-group-0(src="../images/layer-2.png")
  img.products-layer.layer-3.layer-group.layer-group-0(src="../images/layer-3.png")
  img.products-layer.layer-7.layer-group.layer-group-0(src="../images/layer-3.png")
  //-
  img.products-layer.layer-1.layer-group.layer-group-1(src="../images/layer-2-1.png")
  img.products-layer.layer-2.layer-group.layer-group-1(src="../images/layer-2-2.png")
  img.products-layer.layer-3.layer-group.layer-group-1(src="../images/layer-2-3.png")
  img.products-layer.layer-7.layer-group.layer-group-1(src="../images/layer-2-3.png")
  img.products-layer.layer-8.layer-group.layer-group-1(src="../images/layer-2-4.png")
  //- 
  img.products-layer.layer-1.layer-group.layer-group-2(src="../images/layer-3-1.png")
  img.products-layer.layer-2.layer-group.layer-group-2(src="../images/layer-3-2.png")
  img.products-layer.layer-3.layer-group.layer-group-2(src="../images/layer-3-3.png")
  img.products-layer.layer-7.layer-group.layer-group-2(src="../images/layer-3-4.png")
  img.products-layer.layer-8.layer-group.layer-group-2(src="../images/layer-3-2.png")
  // ---
  img.products-layer.layer-1.layer-group.layer-group-3(src="../images/layer-4-1.png")
  img.products-layer.layer-2.layer-group.layer-group-3(src="../images/layer-4-2.png")
  img.products-layer.layer-3.layer-group.layer-group-3(src="../images/layer-4-3.png")
  img.products-layer.layer-7.layer-group.layer-group-3(src="../images/layer-4-4.png")
  img.products-layer.layer-8.layer-group.layer-group-3(src="../images/layer-4-2.png")
.section
  img.products-layer.layer-5.layer-group.layer-group-0(src="../images/layer-1.png")
  img.products-layer.layer-5.layer-group.layer-group-0(src="../images/layer-2.png")
  img.products-layer.layer-6.layer-group.layer-group-0(src="../images/layer-3.png")
  //-
  img.products-layer.layer-4.layer-group.layer-group-1(src="../images/layer-2-1.png")
  img.products-layer.layer-5.layer-group.layer-group-1(src="../images/layer-2-2.png")
  img.products-layer.layer-6.layer-group.layer-group-1(src="../images/layer-2-3.png")
  //- 
  img.products-layer.layer-4.layer-group.layer-group-2(src="../images/layer-3-1.png")
  img.products-layer.layer-5.layer-group.layer-group-2(src="../images/layer-3-2.png")
  img.products-layer.layer-6.layer-group.layer-group-2(src="../images/layer-3-3.png")
  //- 
  img.products-layer.layer-4.layer-group.layer-group-3(src="../images/layer-4-1.png")
  img.products-layer.layer-5.layer-group.layer-group-3(src="../images/layer-4-2.png")
  img.products-layer.layer-6.layer-group.layer-group-3(src="../images/layer-4-3.png")
