//- circle - 0
.move-circle.move-circle-1.circle-group.circle-group-0
  .circle-inner
    .circle-inner-flex
      h4 Категория зелень
      div В составе содержатся натуральные и свежие петрушка и укроп.
      div 
        img(src="../images/ico-circle/ico-circle-1-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-0
  .circle-inner
    .circle-inner-flex
      h3 Один укус
      div Очень эргономичны, один шарик – один укус!
      div 
        img(src="../images/ico-circle/ico-circle-1-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-0
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Не требуют много времени на приготовление.
        div 
        img(src="../images/ico-circle/ico-circle-1-3.svg")
//- circle - 0
//- circle - 1
.move-circle.move-circle-1.circle-group.circle-group-1
  .circle-inner
    .circle-inner-flex
      h4 Лучшие части мяса
      div Содержат самые лучшие части мяса индейки: филе бедра и грудки.
      div 
        img(src="../images/ico-circle/ico-circle-2-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-1
  .circle-inner
    .circle-inner-flex
      h3 Диета
      div Подходит для тех, кто на диете или на спортивном питании
      div 
        img(src="../images/ico-circle/ico-circle-2-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-1
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Мясные шарики очень маленькие, поэтому они быстро готовятся.
      div 
        img(src="../images/ico-circle/ico-circle-2-3.svg")
//- circle - 1
//- circle - 2
.move-circle.move-circle-1.circle-group.circle-group-2
  .circle-inner
    .circle-inner-flex
      h4 Свежий чеснок
      div В составе содержится натуральный, свежий чеснок.
      div 
        img(src="../images/ico-circle/ico-circle-3-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-2
  .circle-inner
    .circle-inner-flex
      h3 Для всего
      div Подходят для закусок, супов и вторых блюд.
      div 
        img(src="../images/ico-circle/ico-circle-3-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-2
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Мясные шарики очень маленькие, поэтому они быстро готовятся.
      div 
        img(src="../images/ico-circle/ico-circle-2-3.svg")
//- circle - 2
//- circle - 3
.move-circle.move-circle-1.circle-group.circle-group-3
  .circle-inner
    .circle-inner-flex
      h4 Лучшие части мяса
      div Содержат самые лучшие части мяса курицы: филе бедра и грудки.
      div 
        img(src="../images/ico-circle/ico-circle-4-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-3
  .circle-inner
    .circle-inner-flex
      h3 Диета
      div Подходит для тех, кто на диете или на спортивном питании.
      div 
        img(src="../images/ico-circle/ico-circle-2-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-3
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Мясные шарики очень маленькие, поэтому они быстро готовятся.
      div 
        img(src="../images/ico-circle/ico-circle-2-3.svg")
//- circle - 3
//- circle - 4
.move-circle.move-circle-1.circle-group.circle-group-4
  .circle-inner
    .circle-inner-flex
      h4 Свежий чеснок 
      div В составе содержится натуральный, свежий чеснок.
      div 
        img(src="../images/ico-circle/ico-circle-5-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-4
  .circle-inner
    .circle-inner-flex
      h3 Для всего
      div Подходят для закусок, супов и вторых блюд.
      div 
        img(src="../images/ico-circle/ico-circle-5-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-4
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Мясные шарики очень маленькие, поэтому они быстро готовятся.
      div 
        img(src="../images/ico-circle/ico-circle-2-3.svg")
//- circle - 4
//- circle - 5
.move-circle.move-circle-1.circle-group.circle-group-5
  .circle-inner
    .circle-inner-flex
      h4 Полезные свойств
      div Благодаря шоковой заморозке сохраняются все полезные свойства свежих продуктов.
      div 
        img(src="../images/ico-circle/ico-circle-6-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-5
  .circle-inner
    .circle-inner-flex
      h3 Для детей
      div Состав отлично подойдет детям от 3-х лет.
      div 
        img(src="../images/ico-circle/ico-circle-6-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-5
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Мясные шарики очень маленькие, поэтому они быстро готовятся.
      div 
        img(src="../images/ico-circle/ico-circle-2-3.svg")
//- circle - 5
//- circle - 6
.move-circle.move-circle-1.circle-group.circle-group-6
  .circle-inner
    .circle-inner-flex
      h4 Состав
      div Чистый и натуральный состав.
      div 
        img(src="../images/ico-circle/ico-circle-7-1.svg")
.move-circle.move-circle-2.circle-group.circle-group-6
  .circle-inner
    .circle-inner-flex
      h3 Качество
      div Проходят строгий контроль качества
      div 
        img(src="../images/ico-circle/ico-circle-7-2.svg")
.move-circle.move-circle-3.circle-group.circle-group-6
  .circle-inner
    .circle-inner-flex
      h3 Быстро
      div Проходят строгий контроль качества
      div 
        img(src="../images/ico-circle/ico-circle-2-3.svg")
//- circle - 6

