.chef-popup.chef-popup-1.popup-product
  .close-ico
  .popup-product-inner
    h2 Из охлажденной свинины и говядины с зеленью
    .item
      hr
      h3 О продукте
      div Вкусные шарики из отборного мяса для закусок, супов и вторых блюд. Продукт из мясного фарша в виде шариков, под различными названиями существуют в кухнях многих народов мира, например считается одним из основных национальных блюд Швеции.
    .item
      hr
      h3 Техническая информация
      ul.units-list.ln.custom-disk
        li Говядина, свинина, хлеб бездрожжевой (мука пшеничная хлебопекарная в/с, вода питьевая, соль пищевая), вода питьевая, яйцо куриное, смесь специй, соль пищевая. 
        li Полуфабрикат мясной из говядины и свинины  рубленный формованный не панированный кат «А».
        li Белки - 16,3 г, жиры - 17 г, углеводы - 3,8 г, энергетическая ценность - 978,4 кДж /235 ккал.  
      .item.video_list-container
        h3 Победитель в «Битве Рецептов»
        .list-item
          .img-box
            img(src="../images/food-1.jpg")
            i
          .description
            .data 10.12.19
            h4 
              |Мясные шарики в соевом соусе по 
              br
              |Пекински
            div 15:23
        .list-item
          .img-box
            img(src="../images/food-1.jpg")
            i
          .description
            .data 10.12.19
            h4 
              |Мясные шарики в соевом соусе по 
              br
              |Пекински
            div 15:23