.slider-info.fron_description-container.flex-column
  .info-body
    h2
      | Из охлажденной 
      br
      | свинины и говядины с зеленью 
    .description 
      | Только здесь вы сможеть увидеть как в
      br 
      | горячем противостоянии рождаются шедевры
      br 
      | кулинарии
  .info-footer
    .num-container
      .num-item
        i 6
        span Уникальных вкусов для любого гурмана
      .num-item
        i 15
        span Минут и вкусное блюдо готово
      .num-item
        i 15
        span Минут и вкусное блюдо готово
.slider-img
  img(src="../images/main-pack.png")
  .circle-btn
    div 
      span Узнать больше 