.recipes-item.right
  .recipes-item-header
    i.winner-ico.ico
    img.mini-face(src="../images/mini-face-2.jpg")
    h3 
      |Василий Емельяненко
      br
      | шеф-повар
    .like-container
      i.vline
      span 15
      i.like-ico.ico
      i.vline
      i.dislike-ico.ico
  .recipes-item-body
    .img-box
      img(src="../images/rec-1.jpg")
      .view-container
        span 380
        i.view-ico.ico
    .play-container
      i.play-ico.ico
      span 12:28
