.recipes-item.right
  .recipes-item-header
    .like-container
      span 30
      i.like-ico.ico
      i.vline
      i.dislike-ico.ico
      i.vline
    h3 
      |Василий Емельяненко
      br
      | шеф-повар
    img.mini-face(src="../images/mini-face-1.jpg")
    i.winner-ico.ico
  .recipes-item-body
    .img-box
      img(src="../images/rec-1.jpg")
      .view-container
        span 380
        i.view-ico.ico
    .play-container
      i.play-ico.ico
      span 12:28

    a.link-more(href="#") Показать рецепт
  .recipes-item-footer
    h2 Борщ кубанский