.recipes-row-header.recipes-row-header-detail

  h2 Борщ с мясными шариками 1
  .time 10 : 15
  .data 15.12.19
  .review-container
    span 52
    .review-ico.ico
  .social
    a
      img(src="../images/social/f-blue.svg")
    a
      img(src="../images/social/i-red.svg")
    a
      img(src="../images/social/v-blue.svg")