.top-banner.visible
  .grid-banner
    .close
    .ico-vs
    .face.face-1
      img(src="../images/chef-front-1.png", alt="face")
    .face.face-2
      img(src="../images/chef-front-2.png", alt="face")
    .half
      .description
        i.ico-win.ico
        .chef-box
          .name 
            |Василий
            br
            |Емельяненко
          .rating
            span Рейтинг - 365
            i
    .half.right
      .description
        .chef-box
          .name 
            |Василий
            br
            |Емельяненко
          .rating
            span Рейтинг - 365
            i
        i.ico-lose.ico
            